<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

    <% @deck.cards.each do |card| %>
      <p>
        Card: <%= text_field_tag 'cards[][name]', card.name %> 
        Strength: <%= text_field_tag 'cards[][strength]', card.strength %>
      </p>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
